
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.header{
  padding: 20px 0px
}

.nav-pills li a {
  color: #d8192f;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}


/* Jumbotron */
.jumbotron {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  padding-top:200px;
}

.jumbotron h1 {
  color:white;

}


/* Banner */
.banner {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

.banner a.btn {
  color:rgba(216,25,47,.5);
}

/*Supporting*/

.supporting{
  text-align:center;
  padding:40px;
  padding-top:0px;
  
}
.supporting h2 {
  color:rgba(216,25,47,.5);
  font-weight:bold;
  font-size:20px;
  
}

.supporting ul {
  list-style-type:none;
  list-style-position:inside;
  padding: 0px;
  
}

/*Footer*/
.footer {
  padding:40px;
  background: #eeeeee;
  font-size:13px;
  
}

.footer a{
  color:rgba(216,25,47,.5)
}

.a-center{
  text-align:center;
}
.a-left{
  text-align:center;
}
.a-right{
  text-align:center;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .jumbotron h1 {
    text-align: center;
  }
  
  .jumbotron{
    background-size: auto 100%;
  }
  
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}